In [ ]:
!pip install transformers py_vncorenlp pymongo

In [1]:
import pandas as pd
from pymongo import MongoClient
import string
import re
import seaborn as sns
import numpy as np
import ast
from transformers import AutoTokenizer, AutoModel
import torch
from tqdm import tqdm
import time
import py_vncorenlp
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)
tqdm.pandas()

In [2]:
VN_CORE_NLP_PATH = "../vncorenlp/"
ATLAS_URL = "mongodb+srv://conghuynt1999:foWcElkNDeLlDNIX@cluster1.oq1l7.mongodb.net/?retryWrites=false&replicaSet=atlas-5tjaoq-shard-0"
DATABASE_NAME = "chotot"
COLLECTION_NAME = "real_estate_for_sell"
BPE_CODES_FILE = '../PhoBERT_base_fairseq/bpe.codes'
ROBERTA_MODEL_PATH = '../PhoBERT_base_fairseq'
CHUNK_SIZE = 256

In [3]:
db = MongoClient(ATLAS_URL)[DATABASE_NAME]

In [8]:
start_time = time.time()
houses_df = pd.DataFrame(list(db.get_collection(COLLECTION_NAME).find()))
print("--- %s seconds ---" % (time.time() - start_time))

--- 51.903873920440674 seconds ---

In [9]:
houses_df.shape

(203328, 32)

In [10]:
houses_df.head(5)

,_id,list_id,price,price_million_per_m2,size,width,length,area,subject,body,category_name,latitude,list_time,longitude,toilets,rooms,floors,region_name,ward_name,area_name,street_name,street_number,owner,company_ad,zero_deposit,text,apartment_type_1.0,apartment_type_2.0,apartment_type_3.0,apartment_type_4.0,apartment_type_5.0,apartment_type_6.0
0,659057ddcc43b29bf51b5b4e,112918848,3.200000e+10,333.333333,184.0,8.0000,23.0000,96,"B√°n nh√† ƒë∆∞·ªùng B√† L√™ Ch√¢n Qu·∫≠n 1, H·∫ßm 7 t·∫ßng, DT 184m2, gi√° 32 t·ª∑ TL","- V·ªã tr√≠ nh√† ƒë∆∞·ªùng B√† L√™ Ch√¢n, P.T√¢n ƒê·ªãnh, Qu·∫≠n 1\n- Di·ªán t√≠ch : 8 x 23m. C√¥ng nh·∫≠n : 184.05m2\n...",Nh√† ·ªü,10.7905,1.703816e+12,106.6894,7.0,11.0,NaN,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng T√¢n ƒê·ªãnh,Qu·∫≠n 1,ƒê∆∞·ªùng B√† L√™ Ch√¢n,NaN,0,1,0.0,b√°n nh√† ƒë∆∞·ªùng b√† l√™ ch√¢n qu·∫≠n 1 h·∫ßm 7 t·∫ßng dt 184m2 gi√° 32 t·ª∑ tl v·ªã tr√≠ nh√† ƒë∆∞·ªùng b√† l√™ ch√¢n pt...,False,False,False,False,False,False
1,659057ddcc43b29bf51b5b4f,112539285,9.400000e+09,97.916667,94.0,NaN,NaN,96,ZENITY CAPITALAND V√ï VƒÇN KI·ªÜT QU·∫¨N 1 - CHI·∫æT KH·∫§U 40%,üî•üî•üî•Tr·ª±c ti·∫øp ch·ªß ƒë·∫ßu t∆∞ m·ªü b√°n 28 cƒÉn cu·ªëi c√πng v·ªõi gi√° c·ª±c k·ª≥ ∆∞u ƒë√£i üî•üî•üî•\n‚úÖCƒÉn h·ªô 2PN 94m2 gi√° ...,CƒÉn h·ªô/Chung c∆∞,10.7579,1.703816e+12,106.6885,0.0,2.0,NaN,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng C·∫ßu Kho,Qu·∫≠n 1,M·ªπ ƒê√¨nh,NaN,0,1,0.0,zenity capitaland v√µ vƒÉn ki·ªát qu·∫≠n 1 chi·∫øt kh·∫•u 40 tr·ª±c ti·∫øp ch·ªß ƒë·∫ßu t∆∞ m·ªü b√°n 28 cƒÉn cu·ªëi c√πng...,True,False,False,False,False,False
2,659057ddcc43b29bf51b5b50,112918381,9.200000e+09,95.833333,50.0,6.0000,8.0000,96,"NH√Ä 5 T·∫§M 180M2 TR·∫¶N ƒê√åNH XU, QU·∫¨N 1, SHR CH·ªà H∆†N 9 T·ª∂","NH√Ä 5 T·∫§M 180M2 TR·∫¶N ƒê√åNH XU, QU·∫¨N 1, SHR CH·ªà H∆†N 9 T·ª∂.\n+ V·ªã tr√≠ trung t√¢m, v√¥ c√πng ƒë·∫Øc ƒë·ªãa, ki...",Nh√† ·ªü,10.7622,1.703815e+12,106.6886,0.0,6.0,NaN,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng Nguy·ªÖn C∆∞ Trinh,Qu·∫≠n 1,Tr·∫ßn ƒê√¨nh Xu,NaN,0,1,0.0,nh√† 5 t·∫•m 180m2 tr·∫ßn ƒë√¨nh xu qu·∫≠n 1 shr ch·ªâ h∆°n 9 t·ª∑ nh√† 5 t·∫•m 180m2 tr·∫ßn ƒë√¨nh xu qu·∫≠n 1 shr ch·ªâ...,False,False,False,False,False,False
3,659057ddcc43b29bf51b5b51,111342809,5.900000e+09,61.458333,30.0,3.0000,10.0000,96,"B√°n g·∫•p nh√† Hai B√† Tr∆∞ng, Q1, thi·∫øt k·∫ø Ch√¢u √Çu, 3L, Gi√° 5,9 t·ª∑ TL","B√°n nh√† Hai B√† Tr∆∞ng, ph∆∞·ªùng T√¢n ƒê·ªãnh, qu·∫≠n 1, ƒë·ªëi di·ªán Nh√† Th·ªù T√¢n ƒê·ªãnh. Nh√† h·∫ªm an ninh, th√¥ng...",Nh√† ·ªü,10.7906,1.703815e+12,106.6884,3.0,3.0,3.0,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng T√¢n ƒê·ªãnh,Qu·∫≠n 1,Hai B√† Tr∆∞ng,NaN,0,1,0.0,b√°n g·∫•p nh√† hai b√† tr∆∞ng q1 thi·∫øt k·∫ø ch√¢u √¢u 3l gi√° 59 t·ª∑ tl b√°n nh√† hai b√† tr∆∞ng ph∆∞·ªùng t√¢n ƒë·ªãn...,False,False,False,False,False,False
4,659057ddcc43b29bf51b5b52,112891036,2.650000e+09,27.604167,24.1,3.5499,6.6999,96,"Gi√° t·ªët ƒë∆∞·ªùng Tr·∫ßn Kh·∫Øc Ch√¢n, Qu·∫≠n 1. DT: 24,1m2/ 2,650t·ª∑","Nh√† Tr·∫ßn Kh·∫Øc Ch√¢n, ph∆∞·ªùng T√¢n ƒê·ªãnh, Qu·∫≠n 1\n- K·∫øt c·∫•u: 1T1L (2 ph√≤ng ng·ªß + 2wc)\n- Di·ªán t√≠ch ƒë·∫•...",Nh√† ·ªü,10.7931,1.703814e+12,106.6911,2.0,2.0,2.0,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng T√¢n ƒê·ªãnh,Qu·∫≠n 1,Tr·∫ßn Kh·∫Øc Ch√¢n,NaN,0,1,0.0,gi√° t·ªët ƒë∆∞·ªùng tr·∫ßn kh·∫Øc ch√¢n qu·∫≠n 1 dt 241m2 2650t·ª∑ nh√† tr·∫ßn kh·∫Øc ch√¢n ph∆∞·ªùng t√¢n ƒë·ªãnh qu·∫≠n 1\n ...,False,False,False,False,False,False

# Basic Preprocessing

Handle NAN values

In [11]:
def missing_ratio(numerics):
    return numerics.isna().mean() * 100

aggregated_df = houses_df.agg(
    [missing_ratio, pd.Series.nunique, pd.Series.unique]
)
aggregated_df.rename(
    index={"nunique": "num_diff_vals", "unique": "diff_vals"}, inplace=True
)
aggregated_df

,_id,list_id,price,price_million_per_m2,size,width,length,area,subject,body,category_name,latitude,list_time,longitude,toilets,rooms,floors,region_name,ward_name,area_name,street_name,street_number,owner,company_ad,zero_deposit,text,apartment_type_1.0,apartment_type_2.0,apartment_type_3.0,apartment_type_4.0,apartment_type_5.0,apartment_type_6.0
missing_ratio,0.0,0.0,0.008853,0.008853,0.0,10.978321,11.494236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000984,32.497738,0.0,0.0,0.0,0.0,85.91586,0.0,0.0,68.331464,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_diff_vals,203328,203328,3825,16874,3645,989,1726,25,199500,202039,2,15013,198795,13905,8,11,65,1,177,22,22961,13404,1,2,1,203209,2,2,2,2,2,2
diff_vals,"[659057ddcc43b29bf51b5b4e, 659057ddcc43b29bf51b5b4f, 659057ddcc43b29bf51b5b50, 659057ddcc43b29bf...","[112918848, 112539285, 112918381, 111342809, 112891036, 111370484, 111637722, 112335426, 1128897...","[32000000000.0, 9400000000.0, 9200000000.0, 5900000000.0, 2650000000.0, 17000000000.0, 850000000...","[333.3333333333333, 97.91666666666667, 95.83333333333333, 61.458333333333336, 27.604166666666668...","[184.0, 94.0, 50.0, 30.0, 24.1, 60.0, 52.5, 52.0, 48.0, 26.7, 78.0, 110.0, 24.0, 48.8, 89.0, 25....","[8.0, nan, 6.0, 3.0, 3.5499, 3.5, 4.0, 3.8698, 4.55, 5.0, 7.8, 4.1999, 3.6, 3.2, 4.3, 4.0998, 4....","[23.0, nan, 8.0, 10.0, 6.6999, 15.0, 12.0, 6.8899, 20.0, 6.26, 7.0, 17.0, 16.0, 13.0, 18.0, 16.2...","[96, 98, 99, 100, 101, 102, 103, 105, 106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118...","[B√°n nh√† ƒë∆∞·ªùng B√† L√™ Ch√¢n Qu·∫≠n 1, H·∫ßm 7 t·∫ßng, DT 184m2, gi√° 32 t·ª∑ TL, ZENITY CAPITALAND V√ï VƒÇN K...","[- V·ªã tr√≠ nh√† ƒë∆∞·ªùng B√† L√™ Ch√¢n, P.T√¢n ƒê·ªãnh, Qu·∫≠n 1\n- Di·ªán t√≠ch : 8 x 23m. C√¥ng nh·∫≠n : 184.05m2\...","[Nh√† ·ªü, CƒÉn h·ªô/Chung c∆∞]","[10.7905, 10.7579, 10.7622, 10.7906, 10.7931, 10.788, 10.757779, 10.7643, 10.7712, 10.792, 10.75...","[1703816012000.0, 1703815810000.0, 1703815329000.0, 1703814797333.0, 1703814304354.0, 1703813034...","[106.6894, 106.6885, 106.6886, 106.6884, 106.6911, 106.7041, 106.684525, 106.6958, 106.6908, 106...","[7.0, 0.0, 3.0, 2.0, 4.0, 1.0, 5.0, 6.0]","[11.0, 2.0, 6.0, 3.0, 4.0, 1.0, 8.0, 5.0, 7.0, 9.0, 10.0, nan]","[nan, 3.0, 2.0, 1.0, 5.0, 6.0, 4.0, 8.0, 7.0, 10.0, 55.0, 22.0, 11.0, 9.0, 33.0, 44.0, 32.0, 41....",[Tp H·ªì Ch√≠ Minh],"[Ph∆∞·ªùng T√¢n ƒê·ªãnh, Ph∆∞·ªùng C·∫ßu Kho, Ph∆∞·ªùng Nguy·ªÖn C∆∞ Trinh, Ph∆∞·ªùng B·∫øn Ngh√©, Ph∆∞·ªùng C·∫ßu √îng L√£nh, ...","[Qu·∫≠n 1, Qu·∫≠n 3, Qu·∫≠n 4, Qu·∫≠n 5, Qu·∫≠n 6, Qu·∫≠n 7, Qu·∫≠n 8, Qu·∫≠n 10, Qu·∫≠n 11, Qu·∫≠n 12, Qu·∫≠n B√¨nh T√¢...","[ƒê∆∞·ªùng B√† L√™ Ch√¢n, M·ªπ ƒê√¨nh, Tr·∫ßn ƒê√¨nh Xu, Hai B√† Tr∆∞ng, Tr·∫ßn Kh·∫Øc Ch√¢n, Nguy·ªÖn B·ªânh Khi√™m, Nguy·ªÖ...","[nan, 2, 72/7, 33/21, TK10/, 214, 71, 225, 391, H·∫ªm 25/31A, 53, 68, 22, h·∫ªm TK15, 328, 22T, 186/...",[0],"[1, 0]","[0.0, nan]",[b√°n nh√† ƒë∆∞·ªùng b√† l√™ ch√¢n qu·∫≠n 1 h·∫ßm 7 t·∫ßng dt 184m2 gi√° 32 t·ª∑ tl v·ªã tr√≠ nh√† ƒë∆∞·ªùng b√† l√™ ch√¢n p...,"[False, True]","[False, True]","[False, True]","[False, True]","[False, True]","[False, True]"

In [12]:
# fill missing data
nan_to_zero_columns = [
    "toilets",
    "rooms",
    "floors",
    "width",
    "length",
]
nan_to_empty_columns = ["ward_name", "street_name", "street_number"]
houses_df[nan_to_zero_columns] = houses_df[nan_to_zero_columns].fillna(0)
houses_df[nan_to_empty_columns] = houses_df[nan_to_empty_columns].fillna("")

Concatenate fields into one column

In [13]:
houses_df["text"] = (
    houses_df["subject"]
    + " "
    + houses_df["body"]
    + " "
    + houses_df["ward_name"]
    + " "
    + houses_df["street_name"]
)
houses_df.drop(columns=["subject", "body", "ward_name", "street_name"], inplace=True)

One hot encoding

In [14]:
one_hot_encoding_columns = ["category_name", "area", "company_ad"]
# one hot encode
houses_df = pd.get_dummies(houses_df, columns=one_hot_encoding_columns)

Drop columns

In [15]:
dropping_columns = ["area_name", "list_time", "owner", "region_name", "_id"]
houses_df.drop(columns=dropping_columns, inplace=True)

## Preprocess NLP

In [16]:
# lowercase
houses_df["text"] = houses_df["text"].str.lower()

# remove punctuations
PUNCT_TO_REMOVE = string.punctuation


def remove_punctuation(text):
    try:
        return text.translate(str.maketrans("", "", PUNCT_TO_REMOVE))
    except Exception as e:
        print(text)
        return text


houses_df["text"] = houses_df["text"].apply(lambda x: remove_punctuation(x))


# remove urls
def remove_urls(text):
    url_pattern = re.compile(r"https?://\S+|www\.\S+")
    return url_pattern.sub(r"", text)


houses_df["text"] = houses_df["text"].apply(lambda x: remove_urls(x))


# remove emojis
def remove_emojis(text):
    regrex_pattern = re.compile(
        pattern="["
        "\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F1E0-\U0001F1FF"  # flags (iOS)
        "\U00002500-\U00002BEF"  # chinese char
        "\U00002702-\U000027B0"
        "\U000024C2-\U0001F251"
        "\U0001f926-\U0001f937"
        "\U00010000-\U0010ffff"
        "\u2640-\u2642"
        "\u2600-\u2B55"
        "\u200d"
        "\u23cf"
        "\u23e9"
        "\u231a"
        "\ufe0f"  # dingbats
        "\u3030"
        "]+",
        flags=re.UNICODE,
    )
    return regrex_pattern.sub(r"", text)


houses_df["text"] = houses_df["text"].apply(lambda x: remove_emojis(x))

In [17]:
# word segmentation
py_vncorenlp.download_model(save_dir=VN_CORE_NLP_PATH)
# Load the word and sentence segmentation component
rdrsegmenter = py_vncorenlp.VnCoreNLP(annotators=["wseg"], save_dir=VN_CORE_NLP_PATH)


def word_segment(text):
    return "".join(rdrsegmenter.word_segment(text))

houses_df["text"] = houses_df["text"].progress_apply(lambda x: word_segment(x))

VnCoreNLP model folder ../vncorenlp already exists! Please load VnCoreNLP from this folder!
2024-01-02 11:38:19 INFO  WordSegmenter:24 - Loading Word Segmentation model

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 203328/203328 [02:59<00:00, 1130.87it/s]

In [18]:
houses_df.to_csv("../data/preprocessed_data.csv", index=False)

## Feature Engineering

Use pre-trained phoBERT to extract features from text

In [19]:
# Load PhoBERT tokenizer and model
tokenizer = AutoTokenizer.from_pretrained("vinai/phobert-base-v2")
bert = AutoModel.from_pretrained("vinai/phobert-base-v2")

Some weights of RobertaModel were not initialized from the model checkpoint at vinai/phobert-base-v2 and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [20]:
def extract_features(text):
    tokenized_text = torch.tensor([tokenizer.encode(text)])

    # Split the tokenized text into chunks
    chunks = [
        tokenized_text[:, i : i + CHUNK_SIZE]
        for i in range(0, tokenized_text.size(1), CHUNK_SIZE)
    ]
    # Initialize an empty list to store the results
    results = []

    # Process each chunk
    with torch.no_grad():
        for chunk in chunks:
            outputs = bert(chunk)
            results.append(outputs.pooler_output)
    pooled_result = torch.mean(torch.stack(results), dim=0)
    return pooled_result


houses_df["text_features"] = houses_df["text"].progress_apply(lambda x: extract_features(x))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 203328/203328 [4:12:45<00:00, 13.41it/s]

In [21]:
houses_df[["text", "text_features"]].head()

,text,text_features
0,b√°n nh√† ƒë∆∞·ªùng b√† l√™_ch√¢n qu·∫≠n 1 h·∫ßm 7 t·∫ßng dt 184m2 gi√° 32 t·ª∑ tl v·ªã_tr√≠ nh√† ƒë∆∞·ªùng b√† l√™_ch√¢n pt√¢...,"[[tensor(-0.0762), tensor(0.0874), tensor(0.0143), tensor(0.0193), tensor(0.0084), tensor(0.1433..."
1,zenity capitaland v√µ vƒÉn ki·ªát qu·∫≠n 1 chi·∫øt_kh·∫•u 40 tr·ª±c_ti·∫øp ch·ªß ƒë·∫ßu_t∆∞ m·ªü b√°n 28 cƒÉn cu·ªëi_c√πng ...,"[[tensor(-0.1283), tensor(0.1377), tensor(0.1321), tensor(0.0759), tensor(0.1269), tensor(-0.109..."
2,nh√† 5 t·∫•m 180m2 tr·∫ßn ƒë√¨nh xu qu·∫≠n 1 shr ch·ªâ h∆°n 9 t·ª∑ nh√† 5 t·∫•m 180m2 tr·∫ßn ƒë√¨nh xu qu·∫≠n 1 shr ch·ªâ...,"[[tensor(-0.1373), tensor(0.0315), tensor(0.0834), tensor(-0.1260), tensor(0.0219), tensor(0.131..."
3,b√°n g·∫•p nh√† hai_b√†_tr∆∞ng q1 thi·∫øt_k·∫ø ch√¢u_√¢u 3l gi√° 59 t·ª∑ tl b√°n nh√† hai_b√†_tr∆∞ng ph∆∞·ªùng t√¢n_ƒë·ªãn...,"[[tensor(-0.1301), tensor(0.0120), tensor(0.1264), tensor(-0.0101), tensor(-0.0161), tensor(0.10..."
4,gi√° t·ªët ƒë∆∞·ªùng tr·∫ßn kh·∫Øc ch√¢n qu·∫≠n 1 dt 241m2 2650t·ª∑ nh√† tr·∫ßn kh·∫Øc ch√¢n ph∆∞·ªùng t√¢n_ƒë·ªãnh qu·∫≠n 1 k·∫ø...,"[[tensor(-0.1330), tensor(0.0785), tensor(0.1163), tensor(-0.0178), tensor(0.0094), tensor(0.200..."

Get distance from city center

In [22]:
from geopy.distance import great_circle

# 1st district center
hcm_central_latitude, hcm_central_longitude = 10.7761, 106.6958
hcm_central_point = (hcm_central_latitude, hcm_central_longitude)
houses_df["distance_from_center"] = houses_df.apply(
    lambda row: great_circle((row["latitude"], row["longitude"]), hcm_central_point).km,
    axis=1,
)

Position of the real estate

In [23]:
houses_df['is_at_roadside'] = houses_df['street_number'].apply(lambda sn:  sn != "" and '/' not in sn)
houses_df['is_in_alley'] = houses_df['street_number'].apply(lambda sn: '/' in sn)
houses_df.drop(columns=['street_number'], inplace=True)
houses_df = pd.get_dummies(houses_df, columns=['is_at_roadside', 'is_in_alley'])

Normalize

In [24]:
log_transform_columns = ["price", "price_million_per_m2"]
houses_df[log_transform_columns] = houses_df[log_transform_columns].applymap(
    lambda x: np.log(x) if x > 0 else x
)

Save to csv

In [25]:
houses_df["text_features"] = houses_df["text_features"].apply(
    lambda x: x.numpy().tolist()
)

In [26]:
houses_df.to_csv("../data/houses-for-rent-processed.csv", index=False)

: